In [ ]:

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder

df = pd.read_csv("books_dataset.csv")

print("DATA AWAL")
display(df.head())

print("\nINFO DATA")
df.info()

print("\nCEK MISSING VALUE")
print(df.isnull().sum())

df['price'] = df['price'].astype(float)

print("\nSETELAH CLEANING PRICE")
display(df.head())

df['title_length'] = df['title'].apply(len)

df['word_count'] = df['title'].apply(lambda x: len(x.split()))

label_encoder = LabelEncoder()
df['availability_encoded'] = label_encoder.fit_transform(df['availability'])

scaler = MinMaxScaler()
df['price_scaled'] = scaler.fit_transform(df[['price']])

df['contains_history'] = df['title'].str.contains("history", case=False).astype(int)
df['contains_love'] = df['title'].str.contains("love", case=False).astype(int)
df['contains_science'] = df['title'].str.contains("science", case=False).astype(int)

print("\nHASIL FEATURE ENGINEERING")
display(df.head())

df.to_csv("books_dataset_processed.csv", index=False)
print("\nFILE DISIMPAN:books_dataset_processed.csv")

DATA AWAL

                                   title  price availability
0                   A Light in the Attic  51.77     In stock
1                     Tipping the Velvet  53.74     In stock
2                             Soumission  50.10     In stock
3                          Sharp Objects  47.82     In stock
4  Sapiens: A Brief History of Humankind  54.23     In stock

INFO DATA
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         100 non-null    object
 1   price         100 non-null    float64
 2   availability  100 non-null    object
dtypes: float64(1), object(2)
memory usage: 2.5+ KB

CEK MISSING VALUE
title           0
price           0
availability    0
dtype: int64

SETELAH CLEANING PRICE

                                   title  price availability
0                   A Light in the Attic  51.77     In stock
1                     Tipping the Velvet  53.74     In stock
2                             Soumission  50.10     In stock
3                          Sharp Objects  47.82     In stock
4  Sapiens: A Brief History of Humankind  54.23     In stock

HASIL FEATURE ENGINEERING

,title,price,availability,title_length,word_count,availability_encoded,price_scaled,contains_history,contains_love,contains_science
0,A Light in the Attic,51.77,In stock,20,5,0,0.867779,0,0,0
1,Tipping the Velvet,53.74,In stock,18,3,0,0.908863,0,0,0
2,Soumission,50.10,In stock,10,1,0,0.832951,0,0,0
3,Sharp Objects,47.82,In stock,13,2,0,0.785401,0,0,0
4,Sapiens: A Brief History of Humankind,54.23,In stock,37,6,0,0.919082,1,0,0

FILE DISIMPAN:books_dataset_processed.csv